
body{
  background-image: url(tof4.jpg);
    margin:0;
    padding:0;
    overflow-y:scroll ;
    font-family: merienda one;
} h1{
    margin-top: -2px;
    position: absolute;
    top:1%;
    left:1%;
    font-size: 30px;
    color:purple;
    opacity: 0.7;

}
@keyframes roule {
0%,100%{
transform:rotate(0deg); }
50%{
  transform:rotate(360deg);
}
}
.pdwrok {
position: relative;
top:30%;
left:4%;
}
.fenddesign{
 position: relative;
left:40%;
}
.logo{
    position: relative;
    top:20%;
    left: 75%;
}
.ok1{
    animation: 5s roule infinite backwards;
    position: absolute;
    top:14%;
    left:4%;
}
@keyframes wa{
    0%,100%{
    transform:skew(0deg); }
    50%{
      transform:skew(180deg);
    }
    }
.ok2 {
    animation: 5s wa infinite backwards;

    position: absolute;
    top:14%;
    left: 40%;
}
.ok3{
    animation: 5s roule infinite backwards;

position: absolute;
top:14%;
left: 75%; }

a{
    text-decoration: none;
    color: lightskyblue;

    font-size: 25px;
    font-weight: bold;
    font-style: italic;
letter-spacing: 2px;
    
}
a:hover{
    font-size: 30px;
    transition: 0.3s both  ;
    color:rgb(52, 155, 214);
    letter-spacing:5px;
    background-color:lightsteelblue;
border-radius: 70%;
text-align: justify;
text-decoration: lightgreen;
text-anchor: start;
font-style: unset;}
