*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
    

}
body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB) ;
    background-size: 400% 400%;
    position: relative;
    color:#fff;
    animation: change 10s ease-in-out infinite;
    
    
    
}
h1{
    font-size: 5rem;
    letter-spacing: 5px;
    border:3px solid #fff;
    position:absolute;
    top:50%;
    left: 49%;
    transform:translate(-50%, -50%);
    padding:5rem 10rem;  
    border-radius: 10px; 
    font-family: patua one;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}
nav{
    background:#1b1b1b;
    font-family: concert one;
    opacity:0.8;

}
nav:after{
    content:'';
    clear:both;
    display:table;

}
nav .logo{
    float:left;
    color:cyan;
    font-size:27px;
    font-weight:600;
    line-height:70px;
    padding-left:60px;
    font-family: merienda one;
    
}
nav ul{
    float:right;
    list-style:none;
    margin-right:40px;
    position:relative;
}
nav ul li{
    float:left;
    display: inline-block;
    background:#1b1b1b;
    margin: 0px 5px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    line-height:70px;
    font-size:18px;
    padding:8px 15px;

}
nav ul li a:hover{
    color:cyan;
    border-radius:5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;

}
nav ul ul li a:hover{
    color:cyan;
    box-shadow: none;
}
nav ul ul{
    position:absolute;
    border-top:3px solid cyan;
    top:90px;
    opacity:0;
    visibility:hidden;
    transition:top .3s;
}
nav ul ul li{
    position:relative;
    margin:0px;
    width:150px;
    float:none;
    display:list-item;
    border-bottom:1px solid rgba(0,0,0,0.3);
}
nav ul li:hover > ul{
    top:70px;
    opacity:1;
    visibility:visible;



}

nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position:relative;
    top:-70px;
    left:150px;
}
.show,.icon, input{
    display:none;
}
.temp{
    position: absolute;
    right:2%;
    top:95%;
    font-size: 24px;
    color:#fff;
    font-family:patua one;
}

@media  all and (max-width:986px){
    nav ul{
        margin-right:0px;
        float:left;

    }
    nav.logo{
        padding-left:30px;
        width: 100%;

    }
    nav ul li, nav ul ul li{
        display:block;
        width:100%;

    }
    nav ul ul{
        top:70px;
        position:static;
        border-top:none;
        float:none;
        display:none;
        opacity:1;
        visibility:visible;
        
    }
    
    
    
    nav ul ul ul li{
        position: static;

    }
    nav ul ul li {
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;


    }
    nav ul ul ul a{
        padding-left: 80px;
    }
    .show{
        display:block;
        color:white;
        font-size: 18px;
        padding:0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    
    .show:hover{
        color:cyan;

    }
    .icon{
        display:block;
        color:white;
        position:absolute;
        right:40px;
        line-height: 70px;
        font-size:25px;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow:none;
        
    }
    .show + a, ul{
        display:none;

    }
    [id^=btn]:checked+ ul{
        display:block;
    }
    h1{
       
        border:none;
        top:80%;
        font-size:2.5rem;
        padding:2.5rem 5rem;  

    }
    
    
        
    
    
}

